# Environment Variables Example for VELOCE Shoes Store

DATABASE_URL="file:./dev.db"

AUTH_SECRET="your-jwt-secret-key-here-minimum-32-characters"
NEXTAUTH_SECRET="your-jwt-secret-key-here-minimum-32-characters"
NEXTAUTH_URL="http://localhost:3000"

NEXT_PUBLIC_APP_URL="http://localhost:3000"

NEXT_PUBLIC_CURRENCY_SYMBOL="Rs."
NEXT_PUBLIC_CURRENCY_CODE="PKR"

# Resend Transactional Email API Key
RESEND_API_KEY="re_your_api_key_here"
EMAIL_FROM="VELOCE Atelier <onboarding@resend.dev>"

# Google OAuth 2.0
GOOGLE_CLIENT_ID="your-google-client-id.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="GOCSPX-your-client-secret"

